.collapse {
  position: relative;
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

  /* FULL LEFT LINE */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    width: 1.5rem;
    height: calc(100% - 5rem);
    border-left: 1px solid #0d6efd;
  }

  &.show {
    max-height: 300rem;
    transition: max-height 0.5s ease-in-out;
  }
}

.block,
.block__child {
  font-family: "Roboto", Sans-serif;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.block {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.9375rem #0000001a;
  z-index: 1;

  &.active {
    background-color: #edf6ff;
    border-color: #00549a;
  }

  img {
    width: auto;
    height: auto;
  }
}

.block__child {
  margin-left: 1.5rem;
  padding-left: 1.5rem;

  & .block {
    margin-top: 1.25rem;

    /* SEMI CIRCLE LINE */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -1.5rem;
      width: 1.5rem;
      height: calc(100% - 3rem);
      border-left: 1px solid #0d6efd;
      border-bottom: 1px solid #0d6efd;
      border-radius: 0 0 0 30px;
    }

    /* SEMI CIRCLE LINE WITH SPACE*/
    &.extra::before {
      left: -4.5rem;
      width: 4.5rem;
    }
  }
}

.arrow {
  transition: transform 0.5s ease;
  &.rotate {
    transform: rotate(90deg);
  }
}
